:root {
    --viewport-h: 70vh;
    /* determine view port height, so the user can't scoll */
}

body {
    background-image: url('links/background2.jpg');
    background-size: cover;
    /* scale to fill screen */
    background-repeat: no-repeat;
    /* prevent tiling */
    background-position: center center;
    /* start at center */
    background-attachment: fixed;
    /* image stays in place */
}